{{- range . }}
**{{ .Name }}**

<table>
{{- range .Links }}
  <tr>
    <td align=center>{{ with .Emoji }}:{{ . }}:{{ end }}</td>
    <td><a href="{{ .URL }}">{{ .Name }}</a></td>
    <td>{{ .Description }}</td>
  </tr>
{{- end }}
</table>
{{ end }}
